
*.DS_Store
*.swp
xcode/

*.kra~
*.png~

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/

# Font data
game/Fonts/Resources/SourceHanSans.ttc
game/Fonts/Resources/Arial Unicode.ttf
